version: "3"

services:
  api:
    image: hearing-voices-network/api/app
    build:
      context: ./docker/app
      dockerfile: Dockerfile
    environment:
      - APP_ENV=local
    volumes:
      - .:/var/www/html
    networks:
      - app-net
    ports:
      - "${APP_PORT}:80"

  queue-worker:
    image: hearing-voices-network/api/app
    volumes:
      - .:/var/www/html
    networks:
      - app-net
    command: php artisan queue:listen --tries=1

  scheduler:
    image: hearing-voices-network/api/app
    volumes:
      - .:/var/www/html
    networks:
      - app-net
    command: php artisan schedule:loop

  node:
    image: hearing-voices-network/api/node
    build:
      context: ./docker/node
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/html

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASS}"
      MYSQL_DATABASE: "${DB_NAME}"
      MYSQL_USER: "${DB_USER}"
      MYSQL_PASSWORD: "${DB_PASS}"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-net
    ports:
      - "${DB_PORT}:3306"

  mysql-testing:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASS}"
      MYSQL_DATABASE: "${DB_NAME}"
      MYSQL_USER: "${DB_USER}"
      MYSQL_PASSWORD: "${DB_PASS}"
    networks:
      - app-net

  redis:
    image: redis:5.0-alpine
    volumes:
      - redis-data:/data
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  mysql-data:
    driver: local
  redis-data:
    driver: local
